*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fondo-login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
   
 


}




.cuadrado{
    align-items: center;


  backdrop-filter: blur(10px);
  border: solid white;
  height: 45ch;
  width: 420px;
  color: black;
  border-radius: 10px;
  padding: 10px;
  
  
}
.cuadrado h1{
    font-family: Arial, Helvetica, sans-serif;
}

.cuadrado .input-box{
    width: 100%;
    height: 50px;
   margin: 30px 0px;
}

.input-box input{
    border: none;
  
    height: 100%;
    width: 100%;

}

.cuadrado .btn{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    background: linear-gradient(rgb(112, 112, 112), 80%, rgb(255, 255, 255));
    border-radius: 205px;
    
}

.btn{
    color: white;
    border:solid 2px white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}