
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');

*{

margin: 0;
padding: 0;
box-sizing:border-box ;

}


body{

        font-family: 'Montserrat', sans-serif;
        background: linear-gradient(358deg, #0011ff, #c52f2f);
        background-size: 400% 400%;
    
        -webkit-animation: AnimationName 31s ease infinite;
        -moz-animation: AnimationName 31s ease infinite;
        animation: AnimationName 31s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:52% 10%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:52% 0%}
        50%{background-position:49% 50%}
        100%{background-position:52% 0%}
    }

.form-login{

width: 400px;
height: 340px;
background-color: rgb(57, 55, 55);
margin: auto;
margin-top: 180px;
box-shadow: 7px 13px 37px #000;
padding: 20px 30px;
border-top: 4px solid #ff0762;
color:white;
}

.form-login h5{

margin: 0;
text-align: center;
height: 40px;
margin-bottom: 30px;
border-bottom: 1px solid;
font-size: 20px;
}

.controls{

width:100%;
border:1px solid #ff0762;
margin-bottom: 15px;
padding: 11px 10px;
background:#252323;
font-size: 14px;
font-weight: bold;
color: azure;
}

.button{
    width: 100%;
    height: 40px;
    background: #ff0762;
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
    cursor: pointer;
}
.button:hover{

background-color: black;
color: aliceblue;
transition: 0.7s;
}

.form-login p{

height: 40px;
text-align: center;
border-bottom: 1px solid;

}

.form-login a{

    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover{
    
    color: rgb(255, 0, 115);
    text-decoration: underline;
}
.form-login:hover{

    animation: shake 5s;
    animation-fill-mode: forwards;
}

@keyframes shake{

0%{ transform: translate(0px, 0px); }
30%{ transform: translate(0px, 10px); }
70%{ transform: translate(0px, -10px); }

}

.titulo h3{
    text-shadow: -2px 3px   rgb(76, 50, 224), 2px 3px   rgb(0, 191, 255);
    display: flex;
    align-items: center;
    margin-left: 100px;
    justify-content: center;
    font-size: 150px; 
    font-family: 'Big Shoulders Stencil Display', cursive;
   
}

.titulo{
    animation: down 2s;     
    animation-fill-mode: forwards;
    
}

@keyframes down{

0%{ transform: translateY(0px)scale(1.7)}

100%{ transform: translateY(100px)scale(1)}

}

.titulo h3{
    animation: fadein 2s ;
}

@keyframes fadein{

    0% {opacity: 0;}
    100% {opacity: 1;}
    
    }


    .details img{
 margin-top: 150px;
display: flex;
float: left;
position: absolute;
 }

 .details img:hover{

filter: invert(100%);
transition: 0.3s;
 }
.details h6{
    margin-top: 180px;
    display: flex;
    float: left;
    margin-left: 80px;
    position: absolute;
    color: white;
    animation: bouncing 4s infinite;
}
@keyframes bouncing{
    0%{ transform: translateY(-5px)}
    50%{ transform: translateY(9px)}
    100%{ transform: translateY(-5px)}
}

.fondochange{
    margin-top: 10px;
    width: 40px;
    float: right;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #f0e5ea;
}
.fondochange svg:hover{

    animation: scalein 0.8s;
    animation-fill-mode: forwards;
}

.AN:hover{

    animation: scalein 0.7s;
    animation-fill-mode: forwards;
}


@keyframes scalein{
    0%{ transform:scale(1)}
    100%{ transform: scale(1.2)}
}
.ciudad{
    width: 101%;
    position: absolute;
    margin-top: 200px;
    z-index: -1;
    animation: bouncing 10s infinite;
    animation: movex 10s infinite;
    filter: opacity(50%);
}
@keyframes movex{
    0%{ transform:translateX(0px)}
    50%{ transform: translateX(-10px)}
    100%{ transform: translateX(0px)}
}
#circulo{
    box-shadow: 0px 0px 80px 10px white;
    position: absolute;
    left: 40%;
    height:100px;
    width:100px;
    background:#efefef;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    z-index: -2;
    animation: moon 3s;
    animation-fill-mode: forwards;
    
 }
 @keyframes moon{

0%{transform: translateY(-100px);}
100%{transform: translateY(100px);}
 }

 